{% extends "base.html" %}
{% load staticfiles %}


{% block title %}test{% endblock %}

{% block content %}
    <div class="tweets-init">
        <div class="clearfix ti-input-wrap">
            <div class="form-group tiw-form-group">
                <div class="input-group">
                    <div class="input-group-addon tiw-sign"><i class="fa fa-twitter"></i></div>
                    <input type="text" value="" placeholder="Track your mention/hashtag..." class="form-control ti-input" />
                </div>
                <div class="tiw-note">
                    <small><i>@twitter meaning track twitter mentions</i></small>
                    <small><i>#twitter meaning track twitter hashtags</i></small>
                </div>
            </div>

            <div class="dul-name-wrap" onclick="save_data(event);">Save</div>
            {% csrf_token %}
        </div>

        <div class="ti-lists clearfix">
            {% for tw_track in tw_tracks %}
                <div class="alert alert-purple">
                    {{tw_track.text}}
                    <i class="fa fa-times" onclick="remove_data(event)" data-id="{{tw_track.id}}"></i>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="tweets-wrap row"></div>

    <script src="{% static "js/waterfall.js" %}"></script>
    <script src="{% static "js/tweets.js" %}"></script>
{% endblock %}
