{% extends "base.html" %}
{% load staticfiles %}


{% block title %}test{% endblock %}

{% block content %}
    <div class="tweets-init">
        <div class="clearfix ti-input-wrap">
            <div class="form-group tiw-form-group">
                <div class="input-group">
                    <div class="input-group-addon tiw-sign">@</div>
                    <input type="text" value="" placeholder="Type your search data ..." class="form-control ti-input" />
                </div>
            </div>

            <div class="dul-name-wrap" onclick="save_data(event);" data-type="@">Save</div>
            {% csrf_token %}
        </div>

        <div class="ti-lists clearfix">
            {% for men in mentions %}
                <div class="alert alert-purple">
                    @{{men.name}}
                    <i class="fa fa-times" onclick="remove_data(event)" data-id="{{men.id}}" data-type="@"></i>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="tweets-wrap row"></div>

    <script src="{% static "js/waterfall.js" %}"></script>
    <script src="{% static "js/tweets.js" %}"></script>
{% endblock %}
