{% load tweet_tags %}

<div class="col-md-3 tt-wrap" id="{{uniqid_id}}">
    <div class="well">
        {% if media  %}
            <div class="tweets-media-wrap">
                {% if media.type == 'photo'  %}
                    <a href="{{media.link_url}}" target="_blank">
                        <img src="{{media.image_url}}" class="img-responsive img-rounded">
                    </a>
                {% endif %}

                {% if media.type == 'video'  %}
                    This is Video
                {% endif %}
            </div>
        {% endif %}

        <div class='media'>
            <div class='media-left'>
                <a href='https://twitter.com/{{screen_name}}' target="_blank">
                    <img class='media-object img-rounded' src='{{profile_image}}' alt='{{screen_name}}'>
                </a>
            </div>
            <div class='media-body'>
                <h4 class='media-heading'>
                    <a href='https://twitter.com/{{screen_name}}' target="_blank">{{name}}</a>
                    <small>@{{screen_name}}</small>
                </h4>
                <div>
                    {{text | convert_text_to_link | safe}}
                </div>
                <div class="clearfix">
                    <time class="pull-right">
                        <a href="{{url}}" target="_blank">
                            <span class="label label-success" data-toggle="tooltip" data-placement="top" title="Go to post">{{created_at}}</span>
                        </a>
                    </time>
                </div>
            </div>
        </div>
    </div>
</div>
