@charset "UTF-8";
body {
  font-family: 'Open Sans', sans-serif;
  color: #333;
  background-color: #e9ecf3;
  background: url(../images/bg.jpg) no-repeat center center fixed;
  -khtml-background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

input[type=text], input[type=password], input[type=email] {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  outline: 0;
  border-radius: 0; }

.btn-purple {
  color: #fff;
  background-color: #8E44AD;
  border-color: #8E44AD; }
  .btn-purple:hover, .btn-purple:focus {
    color: #fff;
    background-color: #561F6D;
    border-color: #6a3381;
    outline: none; }

.btn-dark {
  color: #FFF;
  background-color: #454648;
  border-color: #141619; }
  .btn-dark:hover, .btn-dark:focus {
    color: #FFF;
    background-color: #202021;
    border-color: #2f353b;
    outline: none; }

a:hover, button:hover {
  -khtml-transition: all 0.6s linear;
  -webkit-transition: all 0.6s linear;
  -moz-transition: all 0.6s linear;
  -ms-transition: all 0.6s linear;
  -o-transition: all 0.6s linear;
  transition: all 0.6s linear; }

.input-group-addon {
  border-radius: 0; }

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  border-radius: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.btn-success {
  color: #fff;
  background-color: #36c6d3;
  border-color: #2bb8c4; }
  .btn-success:hover {
    color: #fff;
    background-color: #27a4b0;
    border-color: #208992;
    -khtml-transition: all 0.6s;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -ms-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s; }

.btn-primary:hover {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
  -khtml-transition: all 0.6s;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s; }

.account-wrap {
  padding-top: 100px; }
  .account-wrap .ac-wrap {
    padding: 0;
    border-radius: 5px;
    width: 600px;
    margin: 0 auto;
    background-color: #fff;
    border: 0; }
  .account-wrap .aw-head {
    background-color: #e7505a;
    margin: 0;
    padding: 20px;
    border-radius: 5px 5px 0 0;
    color: #fff;
    font-size: 26px; }
  .account-wrap .ac-form {
    padding: 20px; }
  .account-wrap .ac-submit {
    margin-right: 20px; }
  .account-wrap .tw-forgot-passwd {
    font-size: 12px; }
  .account-wrap .sn-login {
    padding: 20px;
    border-top: 1px solid #dfdfdf; }
  .account-wrap .sn-twitter-login {
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.05);
    color: #fff;
    padding: 12px;
    border-radius: 2px;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    background-color: #4099ff;
    text-decoration: none; }
  .account-wrap label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700; }
  .account-wrap .form-group ul li, .account-wrap form ul li {
    color: #999;
    font-size: 12px;
    margin-top: 5px; }
  .account-wrap .form-group .errorlist, .account-wrap form .errorlist {
    list-style-type: none;
    padding-top: 10px; }
    .account-wrap .form-group .errorlist li, .account-wrap form .errorlist li {
      margin: 0;
      padding: 5px 30px 5px 15px;
      border-left: 5px solid #eee;
      background-color: #F5A9AE;
      border-color: #e7505a;
      color: #000; }
  .account-wrap .help-text {
    margin: 0;
    font-size: 12px;
    padding: 5px;
    color: #000;
    margin-top: 5px;
    font-style: italic; }
    .account-wrap .help-text ul li {
      color: #000; }
  .account-wrap .note-wrap {
    padding: 60px 40px;
    border-left: 10px solid #eee;
    background-color: #fff;
    border-color: #539CAD;
    color: #000;
    width: 100%;
    border-radius: 0;
    text-align: center; }
    .account-wrap .note-wrap h1 {
      margin-bottom: 40px; }
  .account-wrap .form-error {
    margin: 10px;
    padding: 10px;
    background-color: #F5A9AE;
    color: #000; }
  .account-wrap .margin-top-10 {
    margin-top: 10px; }

.notice {
  position: relative;
  margin: 10px 40px 5px;
  background: #f8f8f8;
  padding: 1em 1em 1em 2em;
  border-left: 4px solid #DDD;
  box-shadow: 0px 2px 2px rgba(204, 204, 204, 0.65); }
  .notice:before {
    position: absolute;
    top: 50%;
    margin-top: -17px;
    left: -17px;
    background-color: #DDD;
    color: #FFF;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    font-family: Georgia;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5); }

.notice.info {
  border-color: #0074D9; }
  .notice.info:before {
    content: "i";
    background-color: #0074D9; }

.notice.success {
  border-color: #2ECC40; }
  .notice.success:before {
    content: "√";
    background-color: #2ECC40; }

.notice.warning {
  border-color: #FFDC00; }
  .notice.warning:before {
    content: "!";
    background-color: #FFDC00; }

.notice.error {
  border-color: #FF4136; }
  .notice.error:before {
    content: "X";
    background-color: #FF4136; }

/*# sourceMappingURL=account.css.map */
