.navbar-default {
  border-radius: 0; }

.tweets-wrap time {
  margin-top: 10px;
  display: inline-block; }
  .tweets-wrap time a {
    text-decoration: none; }
.tweets-wrap .well {
  background-color: #fff;
  border: 3px solid #fff; }
  .tweets-wrap .well:hover {
    border: 3px solid #67809F;
    -khtml-transition: all 0.6s;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -ms-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s; }
.tweets-wrap .tt-wrap {
  width: 320px;
  display: none; }
.tweets-wrap .tweets-media-wrap img {
  height: 200px;
  width: 100%; }
.tweets-wrap .show-tweet {
  display: block;
  -khtml-transition: all 0.6s linear;
  -webkit-transition: all 0.6s linear;
  -moz-transition: all 0.6s linear;
  -ms-transition: all 0.6s linear;
  -o-transition: all 0.6s linear;
  transition: all 0.6s linear; }

.ti-lists .alert {
  display: inline-block;
  padding: 5px 30px 5px 20px;
  margin-top: 10px;
  margin-right: 10px;
  position: relative;
  border-radius: 0;
  margin-bottom: 10px; }
  .ti-lists .alert .fa {
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 8px; }
    .ti-lists .alert .fa:hover {
      color: #FB769C;
      -khtml-transition: all 0.6s;
      -webkit-transition: all 0.6s;
      -moz-transition: all 0.6s;
      -ms-transition: all 0.6s;
      -o-transition: all 0.6s;
      transition: all 0.6s; }

.alert-purple {
  color: #fff;
  background-color: #703688;
  border-color: #6a3381; }

.tweets-init {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px; }
  .tweets-init .tiw-form-group .input-group, .tweets-init .tiw-form-group input {
    height: 40px; }
  .tweets-init .tiw-form-group input {
    font-size: 18px;
    outline: 0; }

.alert-grey {
  color: #FFF;
  background-color: #3b4448;
  border-color: #363e42; }

.ti-input-wrap {
  position: relative; }
  .ti-input-wrap .form-group {
    margin-bottom: 0; }
  .ti-input-wrap .ti-input {
    padding-right: 60px; }
  .ti-input-wrap .dul-name-wrap {
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 0;
    border-radius: 0;
    background-color: #337ab7;
    border-color: #2e6da4;
    color: #fff;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 12; }
    .ti-input-wrap .dul-name-wrap:hover {
      color: #fff;
      background-color: #286090;
      border-color: #204d74;
      -khtml-transition: all 0.6s;
      -webkit-transition: all 0.6s;
      -moz-transition: all 0.6s;
      -ms-transition: all 0.6s;
      -o-transition: all 0.6s;
      transition: all 0.6s; }

/*# sourceMappingURL=tweets.css.map */
