@mixin css3($property, $value...) {
    -khtml-#{$property}: $value;
    -webkit-#{$property}: $value;
    -moz-#{$property}: $value;
    -ms-#{$property}: $value;
    -o-#{$property}: $value;
    #{$property}: $value;
}


body{
    font-family: 'Open Sans', sans-serif;
    color: #333;
    background-color: #e9ecf3;
    background:url(../images/bg.jpg) no-repeat center center fixed;
    @include css3(background-size, cover);
}

input[type=text],input[type=password], input[type=email]{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    outline: 0;
    border-radius: 0;
}


.input-group-addon{
    border-radius: 0;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    border-radius: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.btn-success {
    color: #fff;
    background-color: #36c6d3;
    border-color: #2bb8c4;

    &:hover{
        color: #fff;
        background-color: #27a4b0;
        border-color: #208992;
        @include css3(transition, all 0.6s);
    }
}

.btn-primary:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
    @include css3(transition, all 0.6s);
}


.account-wrap{
    padding-top: 100px;

    .ac-wrap{
        padding: 0;
        border-radius: 5px;
        width: 600px;
        margin: 0 auto;
        background-color: #fff;
        border: 0;
    }

    .aw-head{
        background-color: #e7505a;
        margin: 0;
        padding: 20px;
        border-radius: 5px 5px 0 0;
        color: #fff;
        font-size: 26px;
    }

    .ac-form{
        padding: 20px;
    }

    .ac-submit{
        margin-right: 20px;
    }

    .tw-forgot-passwd{
        font-size: 12px;
    }

    .sn-login{
        padding: 20px;
        border-top: 1px solid #dfdfdf;
    }

    .sn-twitter-login{
        display: inline-block;
        border: 1px solid rgba(0,0,0,0.05);
        color: #fff;
        padding: 12px;
        border-radius: 2px;
        font-size: 12px;
        text-transform: uppercase;
        text-align:center;
        background-color: #4099ff;
        text-decoration: none;
    }

    label {
        display: inline-block;
        max-width: 100%;
        margin-bottom: 5px;
        font-weight: 700;
    }


    .form-group, form{
        ul{
            li{
                color: #999;
                font-size: 12px;
                margin-top: 5px;
            }
        }

        .errorlist{
            list-style-type: none;
            padding-top: 10px;

            li{
                margin: 0;
                padding: 5px 30px 5px 15px;
                border-left: 5px solid #eee;
                background-color: #F5A9AE;
                border-color: #e7505a;
                color: #000;
            }
        }
    }



    .help-text{
        margin: 0;
        padding: 15px 30px 15px 15px;
        border-left: 5px solid #eee;
        background-color: #c0edf1;
        border-color: #58d0da;
        color: #000;
        margin-top: 5px;

        ul{
            li{
                color: #000;
            }
        }
    }

    .note-wrap{
        padding: 60px 40px;
        border-left: 10px solid #eee;
        background-color: #fff;
        border-color: #539CAD;
        color: #000;
        width: 100%;
        border-radius: 0;
        text-align: center;

        h1{
            margin-bottom: 40px;
        }
    }

    .form-error{
        margin: 0;
        padding: 15px 30px 15px 15px;
        border-left: 5px solid #eee;
        background-color: #F5A9AE;
        border-color: #e7505a;
        color: #000;
    }


    .margin-top-10{
        margin-top:10px;
    }
}
