@mixin css3($property, $value...) {
    -khtml-#{$property}: $value;
    -webkit-#{$property}: $value;
    -moz-#{$property}: $value;
    -ms-#{$property}: $value;
    -o-#{$property}: $value;
    #{$property}: $value;
}


.navbar-default{
    border-radius: 0;
}

.tweets-wrap{
    time{
        margin-top:10px;
        display: inline-block;

        a{
            text-decoration:none;
        }
    }
}


.ti-lists{
    .alert{
        display: inline-block;
        padding: 5px 30px 5px 20px;
        margin-top: 10px;
        margin-right: 10px;
        position: relative;
        border-radius: 0;

        .fa{
            cursor: pointer;
            position: absolute;
            right: 5px;
            top: 8px;

            &:hover{
                color:#FB769C;
                @include css3(transition, all 0.6s);
            }

        }
    }
}

.alert-purple{
    color: #fff;
    background-color: #61527b;
    border-color: #5c4e75;
}


.alert-grey{
    color: #FFF;
    background-color: #3b4448;
    border-color: #363e42;
}

.ti-input-wrap{
    position: relative;

    .form-group{
        margin-bottom: 0;
    }

    .ti-input{
        padding-right: 60px;
    }

    .dul-name-wrap{
        display: inline-block;
        padding: 6px 12px 7px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 0;
        border-radius: 0;
        background-color: #337ab7;
        border-color: #2e6da4;
        color:#fff;
        position: absolute;
        right: 0;
        top:0;
        z-index: 12;

        &:hover{
            color: #fff;
            background-color: #286090;
            border-color: #204d74;
            @include css3(transition, all 0.6s);
        }
    }
}
