{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="account-wrap">
    <div class="container ac-wrap">
        <h2 class="text-center">
            Login
        </h2>

        {% if form.errors %}
            <div class="form-error text-center">
                Your username and password didn't match.
            </div>
        {% endif %}

        <form action="." method="post">
            {% for field in form %}
                <div class="form-group">
                    {{ field.errors }}

                    {{ field.label_tag }} {{ field }}

                    {% if field.help_text %}
                        {{ field.help_text|safe }}
                    {% endif %}
                </div>
            {% endfor %}

            <input type="submit" class="btn btn-primary" value="Login" />
            <a href="{% url 'account:register' %}" class="btn btn-success">New User?</a>
            <input type="hidden" name="next" value="{{ next }}" />
            {% csrf_token %}
        </form>
    </div>
</div>
{% endblock %}
