{% extends "base.html" %}

{% block title %}Reset your password{% endblock %}

{% block content %}
<div class="account-wrap">
    <div class="container ac-wrap">
        <h1 class="text-center aw-head">
            <i class="fa fa-question-circle"></i>
            Forgotten your password?
        </h1>

        {% if form.errors %}
            <div class="notice error">
                Email address is required.
            </div>
        {% endif %}

        <form action="." method="post" class="ac-form">
            {% for field in form %}
                <div class="form-group">
                    {{ field.label_tag }} {{ field }}
                    <small><i>Enter your e-mail address to obtain a new password.</i></small>

                    {% if field.help_text %}
                        <div class="help-text">
                        {{ field.help_text|safe }}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}

            <input type="submit" class="btn btn-primary" value="Send e-mail" />
            <a href="{% url 'account:login' %}" class="btn btn-purple">Back To Login</a>

            {% csrf_token %}
        </form>
    </div>
</div>
{% endblock %}
