{% extends "base.html" %}

{% block title %}Change you password{% endblock %}

{% block content %}
<div class="account-wrap">
    <div class="container ac-wrap">
        <h1 class="text-center">
            Change you password
            <br />
            <small>Use the form below to change your password</small>
        </h1>

        <form action="." method="post">
            {% for field in form %}
                <div class="form-group">
                    {{ field.errors }}

                    {{ field.label_tag }} {{ field }}

                    {% if field.help_text %}
                        {{ field.help_text|safe }}
                    {% endif %}
                </div>
            {% endfor %}

            <input type="submit" class="btn btn-primary" value="Change" />
            {% csrf_token %}
        </form>
    </div>
</div>
{% endblock %}
