{% extends "base.html" %}

{% block title %}Reset your password{% endblock %}

{% block content %}
<div class="account-wrap">
   <div class="container ac-wrap">
        <h1 class="text-center aw-head">Reset your password</h1>

        {% if validlink %}
            <form action="." method="post" class="ac-form">
                {% csrf_token %}

                {% for field in form %}
                    <div class="form-group">
                        {{ field.label_tag }} {{ field }}

                        {% if field.help_text %}
                            <div class="help-text">
                            {{ field.help_text|safe }}
                            </div>
                        {% endif %}

                        {{ field.errors }}
                    </div>
                {% endfor %}

                <input type="submit" class="btn btn-primary" value="Reset My Password" />
            </form>
        {% else %}
            <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
        {% endif %}
    </div>
</div>

{% endblock %}
