{% extends "base.html" %}
{% block title %}Password changed{% endblock %}
{% block content %}
<div class="account-wrap">
    <div class="container ac-wrap">
        <h1 class="text-center aw-head">
            <i class="fa fa-check-circle"></i>
            Password changed
        </h1>

        <div class="aw-desc">
            <p>Your password has been successfully changed.</p>
            <p>
                <a class="btn btn-purple" href="{% url 'tweets:index' %}">
                    Go to home
                </a>
            </p>
        </div>
    </div>
</div>
{% endblock %}
